{% extends 'user/edit_base.html' %}

{% block actions_content %}{% endblock %}

{% block primary_content_inner %}
  {{ form | safe }}
{% endblock %}

{% block secondary_content %}
<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Account Info') }}</h2>
  {% set current_lang = request.environ.CKAN_LANG %}
  {%if current_lang == "en" %}
  <div class="module-content">Your profile lets other users know about who you are and what you do.</div>

  {% endif %}
  {%if current_lang == "fr" %}
  <div class="module-content">Votre profil permet aux autres utilisateurs de savoir qui vous êtes et ce que vous
    faites</div>

  {% endif %}
</section>
{% endblock %}
