{% extends "page.html" %}

{% block subtitle %}{{ _('Manage') }} - {{ user_dict.display_name }} - {{ _('Users') }}{% endblock %}

{% block page_heading %}
  {{ _('Profile settings') }}
{% endblock %}

{% block primary_content %}
  <article class="module" id="wb-cont">
    <div class="module-content">
      {% block primary_content_inner %}{% endblock %}
    </div>
  </article>
{% endblock %}
